@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --spacing: 1.5rem;
    --font-body: "Poppins", sans-serif;
    --font-h3: "IBM Plex Mono", monospace;


    --color-black: #2b2b2b;
    --color-background: #FEFDFA;
    --color-card: #F5F4EF;
    --color-stroke: #E7E5E1;
    --color-blue: #1E70FF;

    --corner: calc(0.4*var(--spacing));
    --gutter: calc(0.6*var(--spacing));
}

html{scroll-behavior: smooth;}

body {
    font-family: var(--font-body);
    font-weight: 400;
    line-height: calc(1.1*var(--spacing));
    color: var(--color-black);
    background: var(--color-background);
    font-size: calc(0.65*var(--spacing));
    text-align: left;
}

/* nav {
    margin-block: calc(0.6*var(--spacing));
    position: sticky;
    top: calc(0.6*var(--spacing));

    ol {
        display: flex;
        flex-direction: row;
        flex-grow: 1fr;
        gap: calc(1.4*var(--spacing));
        justify-content: center;

        background: var(--faded);
        border: var(--stroke) solid 1px;
        border-radius: var(--corner);

        font-size: calc(0.7*var(--spacing));
        font-weight: 450;
        padding: calc(0.6*var(--spacing));
    }
} */

h1 {
    color: var(--color-blue);
    font-size: calc(1.6*var(--spacing));
    font-weight: 550;
    line-height: calc(1.5*var(--spacing));
}

h2 {
    font-size: calc(1.5*var(--spacing));
    font-weight: 500;
    line-height: calc(1.5*var(--spacing));
}

h3 {
    font-family: var(--font-h3);
    font-size: calc(0.7*var(--spacing));
    font-weight: 500;
    color: var(--color-blue);
    text-transform: uppercase;
}

p { max-inline-size: 40ch; }

strong { font-weight: 600; }
em { font-style: italic; }

a { 
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}

a:has(.card) {
    transition: all 0.3s ease-in-out;

    &:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.05);
        color: var(--color-blue);
    }
}

header {
    display: flex;
    flex-direction: column;
    padding-block-start: calc(4*var(--spacing));
}

.links {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    text-align: right;

    a {
        color: var(--color-blue);
        mix-blend-mode: difference;
    }
}

main {
    /* padding-block-start: calc(3*var(--spacing)); */
    display: flex;
    flex-direction: column;
    gap: calc(6*var(--spacing));
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    /* padding-block-start: 4%; */
    padding: 4%;
    top: 0;
    z-index: 2;
}
/* header + main = .content */
.content {
    display: flex;
    flex-direction: column;
    align-self: top;
    gap: calc(4*var(--spacing));
    justify-content: space-between;
    padding: 4%;
}

img {
    inline-size: auto;
    block-size: 100%;
    object-fit: cover;
    object-position: top;

    border-radius: var(--corner);
    border: var(--color-stroke) solid 1px;
    overflow: hidden;

    &:last-of-type { background: var(--color-stroke);}
}

.img-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: calc(0.25*var(--gutter));
    aspect-ratio: 3 / 2;

    /* &:nth-child(5) { 
        background: var(--color-stroke); 
        border-radius: var(--corner);} */
}

hgroup {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}


.card {
    display: flex;
    flex-direction: column;
    gap: calc(2*var(--spacing));
    background: var(--color-card);
    border: var(--color-stroke) solid 1px;
    border-radius: var(--corner);
    padding: var(--gutter);
}

.pills {
    display: flex;
    flex-direction: row;
    gap: calc(0.5*var(--gutter));
}

.tag {
    background: var(--color-blue);
    font-family: var(--font-h3);
    color: var(--color-background);
    font-size: calc(0.5*var(--spacing));
    font-weight: 500;
    padding-block: calc(0.2*var(--spacing));
    padding-inline: calc(0.5*var(--spacing));
    display: inline;
    border-radius: calc(1*var(--spacing));
}

footer {
    padding-inline: 4%;
    padding-block: calc(1.5*var(--spacing));
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    background: var(--color-card);
    border-block-start: var(--color-stroke) solid 1px;
    margin-block-start: calc(12*var(--spacing));
}

.sticky {
    display: none;
}

@media (width>750px) {
    :root { font-size: 110%;}

    .content,
    nav,
    footer { padding-inline: 8%; }
}

@media (width>1100px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--gutter);
    }

    nav { 
        padding-inline: 16%;
    }

    .content {
        position: relative;
        padding-inline: 16%;

    }

    footer { padding-inline: 4%; }

    /* .sticky {
            display: block;
            position: sticky;
            z-index: 1;
	        margin-block-start: calc(-15*var(--spacing));
            padding-inline: 4%;
    } */
    
}

