@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
    --spacing: 1.5rem;
    --font-body: "Geist", sans-serif;

    --color-black: #454545;
    --color-white: #F3F4F7;
    --color-blue: #005EFF;

    --gutter: calc(0.5*var(--spacing));
    --vertical-spacing-mobile: calc(6*var(--spacing));


    /* --m-gap: calc(0.3*var(--spacing));
    --l-gap: calc(2*var(--spacing));
    --xl-gap: calc(6*var(--spacing)); */

    --transition: all 0.3s ease-in-out;
}

html{scroll-behavior: smooth;}

body {
    display: flex;
    flex-direction: column;
    gap: var(--vertical-spacing-mobile);
    background: var(--color-white);
    color: var(--color-black);

    font-family: var(--font-body);
    font-weight: 400;
    line-height: var(--spacing);
    font-size: calc(0.65*var(--spacing));
    text-align: left;
    padding: 4%;
    margin-block-end: var(--vertical-spacing-mobile);
}

h1 {
    font-size: calc(1.8*var(--spacing));
    line-height: calc(2.5*var(--spacing));
    font-weight: 400;
}

h2 {
    font-size: calc(1.4*var(--spacing));
    line-height: calc(1.6*var(--spacing));
    font-weight: 450;
}

p { max-inline-size: 60ch; }

strong { font-weight: 600; }
em { font-style: italic; }

a { 
    transition: var(--transition);

    &:hover { 
        color: var(--color-blue);
        transition: var(--transition);

        & img {
            transition: var(--transition);
            transform: scale(1.02);
        }
    }
}

.logo {
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    align-items: end;

    .submark { inline-size: calc(1.6*var(--spacing)); }

    p {
        font-size: calc(0.75*var(--spacing));
        font-weight: 500;
        padding-block-end: calc(0.2*var(--spacing));
    }
}

nav {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    align-items: end;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--vertical-spacing-mobile);

    section { transition: opacity 0.5s ease; }

}

.intro {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);

    & p {
        font-size: calc(0.8*var(--spacing));
        font-weight: 350;
        line-height: calc(1.4*var(--spacing));
    }
}

.card {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gutter);

    .pills {
        display: flex;
        flex-direction: row;
        gap: var(--gutter);
        align-self: flex-start;

        .tag {
            background: var(--color-blue);
            color: var(--color-white);
            font-size: calc(0.5*var(--spacing));
            padding-block: calc(0.1*var(--spacing));
            padding-inline: calc(0.4*var(--spacing));
            border-radius: var(--spacing);
        }
    }

    figure {
        inline-size: 100%;
        block-size: auto;
        object-fit: cover;
        object-position: top;
        overflow: hidden;
    }

    hgroup {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
    }

}

@media (width>750px) {
    :root { font-size: 110%; }
}

@media (width>1100px) {

    .card {
        flex-direction: row;
        gap: 8%;
    }

    body {
        padding-inline: 16%;
    }
}